<div class="main">
  <div class="main__content">
    <div class="main__navigation">
      <nav mat-tab-nav-bar>
        <!-- <a mat-tab-link
          (click)="onOpenDialog()"
          routerLinkActive="main__navigation-active">
          Новый день
        </a> -->
        <a mat-tab-link
          [routerLink]="'/'"
          routerLinkActive="main__navigation-active">
          Сегодня
        </a>
        <a mat-tab-link
          [routerLink]="'/backlog'"
          routerLinkActive="main__navigation-active">
          Бэклог
        </a>
        <a mat-tab-link
          [routerLink]="'/history'"
          routerLinkActive="main__navigation-active">
          История
        </a>
      </nav>  
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
