<div class="main">
  <div class="main__content">
    <div class="main__navigation">
      <nav mat-tab-nav-bar>
        <a mat-tab-link
          [routerLink]="'/'"
          routerLinkActive #rla="routerLinkActive">
          Сегодня
        </a>
        <a mat-tab-link
          [routerLink]="'/backlog'"
          routerLinkActive #rla="routerLinkActive">
          Бэклог
        </a>
        <a mat-tab-link
          [routerLink]="'/history'"
          routerLinkActive #rla="routerLinkActive">
          История
        </a>
      </nav>
      <div>
        Новый день
      </div>  
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
