.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;

  &__content {
    min-width: 700px;
  }

  &__navigation {
    display: flex;
    margin-bottom: 16px;

    &-active {
      font-weight: bold;
    }
  }
}