<div class="todo-item">
  <div class="todo-item__label">
    <mat-checkbox 
      [checked]="item?.state === todoStates.COMPLITED"
      (change)="onSetComplite()">
    </mat-checkbox>
    <ng-container *ngTemplateOutlet="item?.description ? readDesc : writeDesk"></ng-container>
    
  </div>
  <div class="todo-item__buttons">
    <button (click)="onChangeVisibleNewTodo()" [disabled]="isCreateSubTusk$ | async" mat-icon-button aria-label="Добавить подзадачу">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button aria-label="Указать срок задачи">
      <mat-icon>today</mat-icon>
    </button>
    <button mat-icon-button aria-label="Задать напоминание">
      <mat-icon>access_alarm</mat-icon>
    </button>
    <button [style]="'background-color: ' + item.type.color" (click)="onSetType()" mat-icon-button aria-label="Тип задачи">
      {{item.type.name}}
    </button>
  </div>
</div>
<!-- <mat-divider class="todo-item__divider"></mat-divider> -->
<ng-container>

</ng-container>
<app-todo-new-input *ngIf="isCreateSubTusk$ | async" [isInitFocus]="true" (createItem)="onCreateSubTask($event)"></app-todo-new-input>
<!-- <div class="todo-item__subtask">
  <app-todo-item cdkDrag [item]="subTask" (delete)="onDelete(i)" *ngFor="let subTask of item?.subtasks; let i = index"></app-todo-item>
</div> -->
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <app-todo-item 
    [item]="item"
    (delete)="onDelete(i)"
    *ngFor="let item of item?.subtasks; let i = index"
    cdkDrag
    class="example-box"
  ></app-todo-item>
</div>

<ng-template #readDesc>
  <div (click)="onOpenItemDialog()" class="todo-item__link">
    {{item?.description}}
  </div>
</ng-template>

<ng-template #writeDesk>
  <input>
</ng-template>
